.sign-in {
    margin-top: 128px;

    &__form {
        margin: 72px auto 0;
        max-width: 624px;
        border: 1px solid #DADADA;
        padding: 40px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        &-forgot-link {
            color: #313037;
            line-height: 20px;
            font-size: 16px;
            font-weight: 400;
            margin-top: -26px;
        }

        &-description {
            text-align: center;
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            color: #8D8E97;
        }

        &-link {
            color: #2231aa;
        }
    }
}